certs/
conf.d/
data/
vhost.d/
.vscode

# tests
go/
nginx.tmpl
test/local_test_env.sh
test/integration/docker_api/expected-std-out.txt
test/integration/container_restart/docker_event_out.txt
test/integration/certs_standalone/letsencrypt_user_data
